<h1>Add a Book</h1>
<form ng-submit="controller.save()">
    <div>
        <label>Name</label>
        <input placeholder="name" ng-model="controller.book.name" />
    </div>
    <div>
        <label>Author Name</label>
        <input id="authorName" placeholder="Book author" ng-model="controller.book.authorName" />
    </div>
    <div>
        <label>Price</label>
        <input placeholder="pric" ng-model="controller.book.price" />
    </div>
    <div>
        <label>Page Number</label>
        <input id="pageNumber" placeholder="Book Page #" ng-model="controller.book.pageNumber" />
    </div>

    <input type="submit" class="btn btn-primary" value="Add Book" />
</form>