<h1>Edit a Book</h1>
<form ng-submit="controller.save()">
    <div>
        <label>Name :</label>
        <input id="name" placeholder="name" ng-model="controller.book.name" />
    </div>
    <div>
        <label>Author :</label>
        <input id="author" placeholder="Book author" ng-model="controller.book.authorName" />
    </div>
    <div>
        <label>Description :</label>
        <input id="description " placeholder="Book description " ng-model="controller.book.description " />
    </div>
    <input type="submit" class="btn btn-primary" value="Edit Book" />
</form>



